.btn {
	// border-radius: 3px;
	padding: 1rem 1.5rem;
	background: $brand-primary-light;
	cursor: pointer;
	border: 0;
	letter-spacing: 1px;
	font-size: 0.875rem;
	// box-shadow: 3px 3px 0 darken($brand-primary, 10%);
	color: white;
	border: 1px solid $brand-primary;
	padding: 1rem 2rem;

	&.btn--light{
		background: lighten($brand-primary, 20%);
		border: 0;
		box-shadow: none;
	}

	&.btn--white{
		color: $brand-primary;
		background: white;
		border: 0;
		box-shadow: none;
	}

}

button:focus {outline:0;}
