$gutter: 2rem;

.col-12{
  width: 100%;
}

.col-3{
  width: calc(25% - (( 3 * #{$gutter} ) / 4));
}

.col-4{
   width: calc(33.3333% - (( 2 * #{$gutter} ) / 3));
}

.col-8{
  width: calc(66.66666% - (( 1 * #{$gutter} ) / 3));
}

.col-9{
  width: calc(75% - (( 1 * #{$gutter} ) / 4));
}

[class*="col-"] {
  @media (max-width: $break-sm)  {
    width: 100%;
    // display: flex;
    // flex-direction: column;
  }
}

.row{
  width: 100%;
  flex-wrap: wrap;
  @media (max-width: $break-sm)  {
    display: flex;
    flex-direction: column;
  }
}

//
// // Var
// $brandbg: #FF7070;
// $lightbg: #FFF;
// $brandbg--light: #FFD4D4;
// $darkbg: #555;
// $horz-spacing: 1rem;
// $vert-spacing: 1.17rem;
// $grid-gutter: $horz-spacing;
// $m: $horz-spacing;
// $col-group-padding: 0; // Use this class to remove padding on the parent of nested columns.
// $cols: 12;
//
// // PLaceholder
// %flex-parent {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// }
//
// // Mixin
// @for $i from 1 through $cols {
// 	.col-#{$i} {
// 		flex: $i 1 0; // Flex-grow is the number of $cols.
// 		margin: $horz-spacing/2; // Create equal gutters.
//  		&:before { // Display the name of the column for demo.
// 			content: 'col-#{$i}';
// 			text-align: center;
// 			margin: auto;
// 		}
// 	}
// }
// *, *:before, *:after {
// 	box-sizing: border-box;
// }
// .demo-parent {
// 	&:before {
// 		display: none;
// 	}
// }
//
// [class*=col-] {
// 	background: $lightbg;
// 	// Only use margin on the vertical axis.
// 	margin-top: ($vert-spacing / 2);
// 	margin-bottom: ($vert-spacing / 2);
// 	//min-width: min-content;
// 	display: flex;
// 	flex-flow: row wrap;
// 	word-break: break-all;
// 	min-height: 4vh;
// 	&.demo-parent {
// 		@extend %flex-parent;
// 		background: none;
// 		padding: $col-group-padding;
// 		[class*=col-] {
// 			background: $brandbg--light;
// 			margin-top: 0;
// 			margin-bottom: 0;
// 		}
// 	}
// }
// // Other stuff
// body {
// 	background:$brandbg;
// }
// .main {
// 	padding: 0 $grid-gutter;
// 	margin: auto;
// }
// .outer {
// 	min-height: 5vh;
// 	margin: $vert-spacing 0;
// 	@extend %flex-parent;
// 	flex: 0 0 100%;
// 	& & {
// 		margin: 0;
// 		background: $brandbg;
// 		[class*=col-] {
// 			background: $brandbg--light;
// 		}
// 	}
// }
//
// section {
// 	margin-left: -$grid-gutter/2;
// 	margin-right: -$grid-gutter/2;
// 	flex: 1 0 100%;
// 	@extend %flex-parent;
// 	& [class*=col].demo-parent {
// 		margin-left: 0;
// 		margin-right: 0;
// 	}
// }
