.container{
  width: 70rem;
  margin: 0 auto;
  position: relative;
  @media(max-width: $break-sm){
    width: calc( 100% - 2rem );
  }
  &.container--small{
    width: 55rem;
    @media(max-width: $break-sm){
      width: calc( 100% - 2rem );
    }
  }
}
