.container{
  width: 75vw;
  margin: 0 auto;
  position: relative;
  @media(max-width: $break-sm){
    width: calc( 100% - 2rem );
  }
  &.container--small{
    width: 50vw;
    @media(max-width: $break-sm){
      width: calc( 100% - 2rem );
    }
  }
}
