.container{

  width: calc( 100% - 2rem );
  margin: 0 auto;
  position: relative;

  @media(min-width: $break-sm){  
    width: calc( 100% - ( 2* #{$gutter-large}) );
  }

  @media(min-width: $break-md){  
    width: 50rem;
  }

  @media(min-width: $break-lg){  
    width: 70rem;
  }

  &.container--small{
    width: calc( 100% - 2rem );
    @media(min-width: $break-sm){  
      width: calc( 100% - 2rem );
    }
  
    @media(min-width: $break-md){  
      width: 30rem;
    }
  
    @media(min-width: $break-lg){  
      width: 50rem;
    }
  }
}
