.flex-end{
    justify-content: flex-end;
}

.flex{
    display: flex;
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    // &::after{
    //     content: "";
    //     flex: auto;
    //     display: block;
    //     width: 1rem;
    // }

    &--space-between{
        justify-content: space-between;
    }

    .col-3{
        
        // margin: 0 0 0 3rem;

        // @media only screen and (max-width: $break-sm)  {
            
        //     margin: 0;

        // }

        &:nth-child(1n+4) {
            margin: 0;



        }

    }


}
