.section{
  padding: 8rem 0;
  width: 100vw;
  border-bottom: 1px solid $gray-lighter;
  &.section--smaller{
      padding: 3.5rem 0;
  }
  .block{
    margin: 7rem 0;
    &:last-child{
      margin: 7rem 0 0;
    }
  }
}
