// Start with assigning color names to specific hex values.
$red:    #EC6862 !default;
$orange: #EC8762 !default;
$yellow: #ECE362 !default;
$green:  #95EC62 !default;
$dark-green: #039E96 !default;
$mint-green: #65ecb9 !default;
$mint-green-darker: #38e6a4 !default;
$blue:   #7FC0EC !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

//
$transparent-white: transparentize(white, .6);

// Reassign color vars to semantic color scheme
// $brand-primary:            lighten( #38e6a4, 5%) !default;
$brand-primary: turquoise;
$brand-primary: #0DE5A8;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$brand-primary-transparent: transparentize($brand-primary, .2);
$brand-primary-light: lighten($brand-primary, 10%);
$brand-primary-lighter: lighten($brand-primary, 30%);
$brand-primary-dark: darken($brand-primary, 15%);
$brand-primary-darker: darken($brand-primary, 30%);

$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;
$break-xl: 1700px;

$gutter-large: 5rem;
$gutter: 3rem;
$gutter-small: 2rem;
$gutter-xs: 1rem;
