@import 'variables';
@import 'section';
@import 'container';
@import 'intro';
@import 'footer';
@import 'colours';
@import 'typography';
@import 'reset';
@import 'gutter';
@import 'hr';
@import 'button';
@import 'list';
@import 'link';
@import 'badge';
@import 'map';
@import 'columns';
@import 'flex';
// Route components
@import 'components/contact';
@import 'components/home';
// Components
@import 'components/point';
@import 'components/step';
@import 'components/particles';
@import 'components/client';
@import 'components/navbar';
@import 'components/technique';
@import 'components/project';
@import 'components/card';
// General elements
@import 'components/screenshot';
@import 'components/kontakt';
// Templates
@import 'templates/project';
@import 'templates/about';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';

body {
	transition: all 0.2s ease-in-out;
	margin: 0;
	padding: 0;
	font-size: 100%;
	width: 100%;

	#app {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

a:active,
a:hover {
	text-decoration: none;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.router-link-active {
	color: rgba(0, 0, 0, 0.9);
}
