#about{
    .content{
        flex-direction: column;
        align-content: flex-start;
        @media (min-width: $break-sm)  {
          flex-direction: row;
        }
        .col-8{
            h3:first-child{
                margin: 0;
            }
        }
    }
    .picture{
        img{
            background: $brand-primary-light;
        }
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
}
