.card {

    text-align: center;
    width: calc(100% - (2 * #{$gutter}) );
    margin: 0 auto $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $brand-primary;
    padding: .5rem 0 1.5rem;

    @media only screen and (min-width: $break-sm)  {
        margin-bottom: 0;
    }

    &:hover{
        background: $brand-primary-light;
        .card-header {
            &__image{
                border-bottom: 1px solid white;
            }
            &__title{
                color: $brand-primary-dark;
            }
        }
        .card-link{
            color: $brand-primary-darker;
        }
    }

    .card-header {
        
        width: 80%;

        &__image {
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 5.5rem;
                max-width: 10rem;
            }

            border-bottom: 1px solid $brand-primary;

        }

        &__title{
            // text-align: left;
            font-size: $font-size-lg;
            color: $brand-primary;
        }
    }

    .card-text {
        margin: 1rem auto .75rem;
        font-size: $font-size-sm;
        width: 80%;
    }

    .card-block {
        .card-title {
            font-weight: 500;
        }
    }

    &-link {
        width: 100%;
        color: $brand-primary-dark;
        font-size: $font-size-sm;

        // &:hover{
        //     background: $brand-primary;
        //     color: white;
        // }
   
    }

    @media (min-width: $break-sm) {
        width: 100%;
    }
}

.cards-holder {

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $break-sm)  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $break-lg)  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    [class*="col-"] {
        display: flex;
        justify-content: center;

        // align-items: center;
   
    }
}
