.card{
    background: lighten($brand-primary, 28%);
    padding: 1rem 1rem 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
    width: 80%;
    .card-header{
        border-bottom: 1px solid $brand-primary;
    }
    .card-text{
        margin: 1.5rem 0;
        font-size: $font-size-sm;
    }
    .card-block{
        .card-title{
            font-weight: 500;
        }
    }
    @media (min-width: $break-sm)  {
        width: 100%;
    }
}

.cards-holder{
    justify-content: space-between;
    [class*="col-"] {
        display: flex;
        justify-content: center;
        // align-items: center;
    }
}
