.client{
  margin: 3rem auto;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    max-width: 80%;
    max-height: 80%;
  }
}
