.project{
  .image{
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 80%;
      max-width: 80%;
    }
  }
  @media only screen and (max-width: $break-md)  {
    // margin: 0 0 2rem;
  }
  @media only screen and (max-width: $break-lg)  {
      // margin: 0 5rem 2rem;
  }
}
