.project{
  .image{
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 80%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .project{
    margin: 0 0 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .project{
    margin: 0 5rem 2rem;
  }
}
