.screenshot{
    width: 22%;
    margin: 0 0 6rem;
  img {
    cursor: pointer;
    width: 100%;
    margin: 0 0 2rem;
    box-shadow: 0px 0px 4px #ccc;
  }
  a{
    width: 100%;
  }
  span{
    width: 100%;
  }
  &.landscape{
    max-width: 100%;
    flex: 0 0 100%;
    margin-left: 0;
  }
  @media only screen and (max-width: $break-sm)  {
      width: 100%;
      margin: 0 0 2rem;
  }
}
