.technique{
  margin-bottom: 2rem;
  p{
    margin: 0;
  }
  img{
    max-width: 79%;
    margin: 0 auto;
    @media only screen and (max-width: $break-sm)  {
      max-width: 70%;
      margin: 0 auto 1rem;
    }
  }
  .heading{
    margin-top: 0;
    font-weight: 400;
  }
}
